apted==1.0.3
certifi==2020.6.20
chardet==3.0.4
ConfigArgParse==1.2.3
configparse==0.1.5
idna==2.10
numpy==1.19.2
requests==2.24.0
six==1.15.0
torch==1.4.0
torchtext==0.4.0
tqdm==4.50.0
urllib3==1.25.10
